In [ ]:
import pandas as pd
import pandas as pn

#USING DICT
test_dict = {"id":[1,2,4,6],
             "name":['A','B','C','D'],
             'Salary':[345678,9876,564738,98709]
             }

df = pn.DataFrame(test_dict)
print(df)


#USING LIST OF TUPLES
test_dict2 = [(101,'A',5678),(102,'B',765),(103,'C',98765)]
df2 = pn.DataFrame(test_dict2,columns=['id','name','salary'])
print(df2)
print(df2[['salary']])


#USING CSV
csv = 'enterprise-counts-march-2023-csv-tables.csv'
df3 = pn.read_csv(csv,names=['series','Per','D_Val','Supress','STAT','UNITS','MAG','subj','grp','st1','st2','st3','st4','st5'],index_col=[0])
print(df3)

#USING EXCEL

df4 = pn.read_excel('Te Kupenga 2018 (whakamutunga)- csv file descriptions Te reo Maori.xlsx',index_col=[0])
display(HTML(df4.to_html()))

#excel if subsheets
sheetname = []
for i in range(1,11):
    sheetname.append(f'Sheet_{i}')
for sheet in sheetname:
    df5 = pn.read_excel('multi_sheet_excel.xlsx',sheet_name=sheet)

#print(pn.concat(df5))

#USING JSON
import requests
df6 = pn.read_json('https://raw.githubusercontent.com/json-iterator/test-data/refs/heads/master/large-file.json')
print(df6)
import json
url = 'https://raw.githubusercontent.com/json-iterator/test-data/refs/heads/master/large-file.json'

# Fetching the JSON file
response = requests.get(url)
response.raise_for_status()  # Check for HTTP request errors

# Loading the JSON content
#content = response.content.decode('utf-8')  #Decode bytes to string
content = response.content
data = json.loads(content)
df7 = pn.DataFrame(data)
display(HTML(df7.to_html()))
import pandas as pd
from IPython.display import display, HTML

df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

display(HTML(df.to_html()))

   id name  Salary
0   1    A  345678
1   2    B    9876
2   4    C  564738
3   6    D   98709
    id name  salary
0  101    A    5678
1  102    B     765
2  103    C   98765
   salary
0    5678
1     765
2   98765
                      Per       D_Val     Supress    STAT   UNITS        MAG  \
series
Series_reference   Period  Data_value  Suppressed  STATUS   UNITS  Magnitude
BDCM.SB1          2000.01      369126         NaN       F  Number          0
BDCM.SB1          2000.02      372489         NaN       F  Number          0
BDCM.SB1          2000.03      374568         NaN       F  Number          0
BDCM.SB1          2000.04      379797         NaN       F  Number          0
...                   ...         ...         ...     ...     ...        ...
BDCM.SB3          2022.11        9204         NaN       F  Number          0
BDCM.SB3          2022.12        3144         NaN       F  Number          0
BDCM.SB3          2023.01        4998         NaN       F  Number          0
BDCM.SB3          2023.02        2892         NaN       F  Number          0
BDCM.SB3          2023.03       11508         NaN       F  Number          0

                                            subj  \
series
Series_reference                         Subject
BDCM.SB1          Business Data Collection - BDC
BDCM.SB1          Business Data Collection - BDC
BDCM.SB1          Business Data Collection - BDC
BDCM.SB1          Business Data Collection - BDC
...                                          ...
BDCM.SB3          Business Data Collection - BDC
BDCM.SB3          Business Data Collection - BDC
BDCM.SB3          Business Data Collection - BDC
BDCM.SB3          Business Data Collection - BDC
BDCM.SB3          Business Data Collection - BDC

                                              grp               st1  \
series
Series_reference                            Group    Series_title_1
BDCM.SB1          Enterprise Counts - New Zealand             Total
BDCM.SB1          Enterprise Counts - New Zealand             Total
BDCM.SB1          Enterprise Counts - New Zealand             Total
BDCM.SB1          Enterprise Counts - New Zealand             Total
...                                           ...               ...
BDCM.SB3          Enterprise Counts - New Zealand  Enterprise exits
BDCM.SB3          Enterprise Counts - New Zealand  Enterprise exits
BDCM.SB3          Enterprise Counts - New Zealand  Enterprise exits
BDCM.SB3          Enterprise Counts - New Zealand  Enterprise exits
BDCM.SB3          Enterprise Counts - New Zealand  Enterprise exits

                             st2             st3             st4  \
series
Series_reference  Series_title_2  Series_title_3  Series_title_4
BDCM.SB1                     NaN             NaN             NaN
BDCM.SB1                     NaN             NaN             NaN
BDCM.SB1                     NaN             NaN             NaN
BDCM.SB1                     NaN             NaN             NaN
...                          ...             ...             ...
BDCM.SB3                     NaN             NaN             NaN
BDCM.SB3                     NaN             NaN             NaN
BDCM.SB3                     NaN             NaN             NaN
BDCM.SB3                     NaN             NaN             NaN
BDCM.SB3                     NaN             NaN             NaN

                             st5
series
Series_reference  Series_title_5
BDCM.SB1                     NaN
BDCM.SB1                     NaN
BDCM.SB1                     NaN
BDCM.SB1                     NaN
...                          ...
BDCM.SB3                     NaN
BDCM.SB3                     NaN
BDCM.SB3                     NaN
BDCM.SB3                     NaN
BDCM.SB3                     NaN

[4598 rows x 13 columns]